input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.input {
  padding: 0;
  color: #ffffff;
  font-size: 60px;
  width: 1.25em;
  font-family: 'Lato', sans-serif;
  border: none;
  box-sizing: border-box;
  background: transparent;
}
.input:focus {
  outline: none;
}
.label {
  color: #f9f871;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}

@media only screen and (orientation: landscape) {
}
@media only screen and (orientation: portrait) {
  .container {
    align-items: flex-start;
  }
}
@media only screen and (min-height: 640px) {
  .container {
    align-items: flex-start;
    margin-left: 0px;
  }
  .input {
    font-size: 72px;
  }
  .label {
    font-size: 16px;
  }
}
@media only screen and (min-height: 768px) and (min-width: 1280px),
  screen and (min-height: 1024px) {
  .input {
    font-size: 96px;
  }
  .label {
    font-size: 18px;
  }
}
@media only screen and (min-height: 1280px) {
  .input {
    font-size: 120px;
  }
}
