.btn {
  padding: 0px;
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 40px;
  background: #1dcbf2;
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  transition: width 0.25s ease;
}
.btn:focus {
  box-shadow: 0px 1px 4px 2px #19383f;
}
.btn:hover {
  box-shadow: 0px 1px 4px 2px #19383f, 0px 4px 7px 3px rgba(7, 33, 39, 0.32);
  background: #1ab6d9;
}
.btn:active {
  background: #1596b3;
}
