.btn {
  padding: 0px;
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 40px;
  background: #1dcbf2;
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
