.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.label {
  color: #f9f871;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
}
.text {
  font-size: 60px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
}
.round,
.counter,
.statusContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.counter {
  margin-left: 16px;
}
.progress {
  height: 4px;
  background: #f9f871;
  width: 100%;
  margin-bottom: 11px;
  animation: fadein 0.25s ease;
}
@keyframes fadein {
  from {
    height: 15px;
    width: 50%;
    border-radius: 22px;
    margin-bottom: 0px;
  }
  to {
    height: 4px;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 11px;
  }
}
.statusContainer {
  margin-left: 16px;
}
.status {
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
@media only screen and (orientation: portrait) {
  .label,
  .text {
    text-align: left;
  }
}
@media only screen and (min-height: 640px) {
  .text,
  .status {
    font-size: 72px;
  }
  .label {
    font-size: 16px;
  }
  @keyframes fadein {
    from {
      height: 19px;
      width: 50%;
      border-radius: 19px;
    }
    to {
      height: 4px;
      width: 100%;
      border-radius: 0px;
    }
  }
  .progress {
    margin-top: 7px;
  }
}
@media only screen and (min-height: 768px) and (min-width: 1280px),
  screen and (min-height: 1024px) {
  .text {
    font-size: 96px;
  }
  .label {
    font-size: 18px;
  }
  .progress {
    margin-top: 18px;
  }
}
@media only screen and (orientation: landscape) {
  .container {
    flex-flow: row nowrap;
  }
}
@media only screen and (orientation: portrait) {
  .container {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .round,
  .counter,
  .statusContainer {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .counter,
  .statusContainer {
    margin-left: 0;
  }
  .progress {
    margin-top: 11px;
  }
}
@media only screen and (orientation: landscape) and (min-device-height: 640px) {
  .container {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .round,
  .counter,
  .statusContainer {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .counter,
  .statusContainer {
    margin-left: 0;
  }
}
