body {
  margin: 0;
  background-image: linear-gradient(to right bottom, #040fd9, #d100a6);
  background-image: url('./Background.png');
  background-size: cover;
}
body,
html,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (min-height: 320px) {
  #root {
    justify-content: center;
  }
}
@media only screen and (orientation: landscape) and (min-device-width: 1024px) {
  #root {
    align-items: flex-start;
  }
}
